.secondary_font_color {
  color: #2099be; }

.green {
  color: #009900; }

.red {
  color: #FF2828; }

.left {
  float: left; }

.right {
  float: right; }

/**
To use Titilium web font, include the following in the page:
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
*/
a {
  text-decoration: none; }

#top {
  background: #464646;
  color: #fff;
  width: 100%;
  min-width: 960px;
  height: 45px;
  position: fixed;
  z-index: 1000000; }

#top_center {
  min-height: 45px;
  max-height: 45px;
  width: 960px;
  margin: auto;
  position: relative; }

#top_buttons {
  float: right; }

#top_menu {
  float: left; }

.button {
  cursor: pointer;
  line-height: 45px;
  padding: 0px 15px;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  text-align: center; }
  .button a, .button img {
    border: none; }

#login_button, #register_button {
  background-repeat: no-repeat;
  background-position: center; }
  #login_button .loading, #register_button .loading {
    background-image: url("../../img/ajax_button_loader.gif");
    color: #2099be; }

.save_button {
  cursor: pointer;
  padding: 0px 30px;
  background-color: #009900;
  color: #fff;
  font-size: 14px;
  float: right;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 10px; }
  .save_button a, .save_button img {
    border: none; }

.save_button:hover {
  background-color: #007A00; }

.button:hover {
  background-color: #464646;
  color: #fff; }

.signin_button:hover {
  background-color: #2099be;
  color: #fff; }

.menu {
  line-height: 45px;
  padding: 0px 15px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  text-align: center; }

.menu:hover {
  background-color: #2099be; }

#logo {
  vertical-align: middle; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

/************************************   LOGIN BOX definition *****************************/
.error_user_details {
  color: red;
  margin-bottom: 10px;
  display: block;
  margin-left: 8px; }

#signup, #award_popup, #contact_author_popup, #back_project_popup, #register {
  color: #464646;
  font-size: 14px;
  width: 350px;
  min-height: 243px;
  padding: 30px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7); }
  #signup .error, #award_popup .error, #contact_author_popup .error, #back_project_popup .error, #register .error {
    visibility: hidden;
    color: red;
    margin-top: 25px;
    display: block;
    margin-left: 8px;
    float: left; }
  #signup .error1, #award_popup .error1, #contact_author_popup .error1, #back_project_popup .error1, #register .error1 {
    visibility: hidden;
    color: red;
    margin-top: 4px;
    display: block;
    margin-left: 8px;
    float: left; }
  #signup .error2, #award_popup .error2, #contact_author_popup .error2, #back_project_popup .error2, #register .error2 {
    visibility: hidden;
    margin-top: 4px;
    display: block;
    margin-left: 8px;
    float: left; }
  #signup .message, #award_popup .message, #contact_author_popup .message, #back_project_popup .message, #register .message {
    visibility: hidden;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700; }
  #signup h1, #award_popup h1, #contact_author_popup h1, #back_project_popup h1, #register h1 {
    color: #2099be;
    font-size: 18px; }
  #signup input[type=text], #signup input[type=password], #award_popup input[type=text], #award_popup input[type=password], #contact_author_popup input[type=text], #contact_author_popup input[type=password], #back_project_popup input[type=text], #back_project_popup input[type=password], #register input[type=text], #register input[type=password] {
    width: 350px;
    font-weight: 700;
    font-size: 12px;
    color: #ababab;
    border: solid 1px #2099be;
    height: 35px;
    margin-bottom: -1px;
    padding-left: 10px; }
  #signup input[type="checkbox"] + label span, #award_popup input[type="checkbox"] + label span, #contact_author_popup input[type="checkbox"] + label span, #back_project_popup input[type="checkbox"] + label span, #register input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../../img/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
    color: #2099be; }
  #signup input[type="checkbox"]:checked + label span, #award_popup input[type="checkbox"]:checked + label span, #contact_author_popup input[type="checkbox"]:checked + label span, #back_project_popup input[type="checkbox"]:checked + label span, #register input[type="checkbox"]:checked + label span {
    background: url(../../img/check_radio_sheet.png) -19px top no-repeat;
    color: #2099be; }
  #signup input[type="checkbox"], #award_popup input[type="checkbox"], #contact_author_popup input[type="checkbox"], #back_project_popup input[type="checkbox"], #register input[type="checkbox"] {
    display: none; }
  #signup a, #award_popup a, #contact_author_popup a, #back_project_popup a, #register a {
    color: #2099be;
    float: right; }
  #signup .button, #award_popup .button, #contact_author_popup .button, #back_project_popup .button, #register .button {
    background-color: #2099be;
    color: #fff;
    float: left;
    line-height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

#signup {
  width: 900px;
  min-height: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  padding-bottom: 55px; }
  #signup input[type=text], #signup input[type=password] {
    width: 270px; }
  #signup .left {
    width: 280px;
    min-height: 250px; }
  #signup .right {
    width: 300px;
    margin-left: 25px;
    border: none; }

#register {
  display: block;
  padding: 0px;
  width: 280px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7); }
  #register input[type=text], #register input[type=password] {
    width: 280px; }

#back_project_popup {
  font-size: 12px; }
  #back_project_popup label {
    font-size: 14px;
    margin-left: 10px; }
  #back_project_popup input[type=text] {
    width: 100px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px; }
  #back_project_popup #award_select {
    margin: 15px; }
  #back_project_popup .button {
    float: right; }

#award_popup .button {
  margin-top: 25px;
  float: right; }

#award_popup .reward_back_amout {
  margin-top: 5px;
  font-size: 12px; }

#sigup_remem {
  color: #2099be;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 1px; }

#userbox {
  min-width: 430px;
  min-height: 250px;
  display: none;
  background-color: #464646;
  color: #fff;
  position: absolute;
  z-index: 100;
  left: 530px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px; }

#userbox_inner {
  margin-top: 30px;
  margin-left: 35px;
  font-size: 14px; }
  #userbox_inner h1 {
    color: #2099be;
    margin-bottom: 15px;
    font-size: 16px; }
  #userbox_inner h2 {
    color: #2099be;
    margin-bottom: 2px;
    margin-top: 15px;
    font-size: 14px; }
  #userbox_inner .left {
    margin-right: 30px; }
  #userbox_inner .right {
    margin-right: 30px; }
    #userbox_inner .right span {
      display: block; }
  #userbox_inner a {
    text-decoration: none;
    color: #fff; }
  #userbox_inner a:hover {
    text-decoration: none;
    color: #2099be;
    cursor: pointer; }

#contact_author_popup textarea {
  width: 348px;
  font-weight: 700;
  font-size: 12px;
  color: #ababab;
  border: solid 1px #2099be;
  height: 150px;
  padding-left: 10px; }

/*****************  end of top menu ***************************/
* {
  margin: 0; }

html, body {
  height: 100%; }

body {
  margin: 0px;
  background: #fff;
  font-family: "Titillium Web", sans-serif; }
  body a {
    border: 0px;
    text-decoration: none; }
  body a img {
    border: 0; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -280px; }

/****************************************************************/
#slider {
  width: 100%;
  height: 600px;
  min-width: 960px;
  background-color: #464646;
  padding-top: 45px; }

#slider img {
  width: 151.36364px;
  height: 151.36364px;
  opacity: 0.55;
  float: left;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50); }

#slider img:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100); }

#main_content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  min-height: 500px;
  padding-top: 50px; }

#search {
  color: #464646;
  height: 55px;
  width: 100%;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  margin-top: 21px; }

#search ul {
  list-style: none;
  z-index: 100;
  display: inline-block; }

#search ul li {
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

#search .backg_img {
  background-image: url("../../img/down_arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  background-position-y: 14px; }

#search .backg_img:hover {
  background-image: url("../../img/right_drop_arrow.png");
  background-position-y: 12px; }

#search ul li ul {
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s; }

#search ul li ul li {
  color: #464646;
  display: block;
  padding-left: 15px; }

#search ul li ul li:hover {
  background: #2099be;
  color: #fff; }

#search ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

.filter_status {
  margin-top: -27px;
  margin-left: 283px;
  font-size: 15px; }
  .filter_status label {
    padding-right: 13px;
    font-size: 15px;
    padding-left: 4px; }

#projects_holder {
  width: 960px; }

/**********************    Project box ***************************/
.project {
  width: 225px;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 2px 1px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 2px 1px rgba(50, 50, 50, 0.5);
  color: #464646;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px; }
  .project a {
    color: #464646; }
  .project a:hover {
    color: #2099be; }

.project h1 {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px; }

.project img {
  display: block;
  max-width: 225px;
  width: auto;
  height: auto; }

.project_content {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px; }

.progress_bar {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 205px;
  height: 10px;
  background-color: #464646; }

.progress_bar_overlay {
  width: 50%;
  height: 10px;
  background-color: #2099be; }

.project_footer {
  margin-top: 10px;
  width: 205px;
  margin-left: 10px; }

.project_footer table {
  width: 100%;
  text-align: center; }

/**************************************New project design ******************************/
#newpr_main .header {
  line-height: 50px;
  background: #464646;
  width: 100%;
  margin-bottom: 5px;
  height: 60px; }

#newpr_main .button {
  display: inline-block;
  background-color: #464646;
  color: #fff;
  float: right;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 15px; }

#newpr_main .button:hover {
  background-color: #2099be;
  cursor: pointer; }

.button_disabled {
  background-color: #2b2b2b;
  text-decoration: none;
  cursor: not-allowed;
  display: inline-block;
  color: #fff;
  float: right;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 15px; }

#newpr_breadcrums {
  background: #2b2b2b;
  width: 100%;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 50px;
  line-height: 50px;
  width: 720px;
  float: left;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 600; }
  #newpr_breadcrums a {
    color: #fff;
    text-decoration: underline; }
  #newpr_breadcrums a:hover {
    color: #2099be;
    text-decoration: underline; }
  #newpr_breadcrums img {
    position: relative;
    left: -5px;
    top: 4px;
    padding-right: 2px; }

#newpr_breadcrums ul {
  margin: 0px;
  display: inline;
  padding-left: 30px; }

#newpr_breadcrums ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  background-image: url("../../img/right_arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px; }

#newpr_breadcrums ul li .active {
  color: #2099be;
  font-weight: 600; }

#newpr_breadcrums li:first-child {
  margin-left: 0px; }

#newpr_breadcrums li:last-child {
  background: none; }

#newpr_breadcrums .active {
  color: #2099be; }

#newpr_breadcrums .active a {
  color: #2099be; }

#newpr_main #pravidla {
  text-align: justify;
  font-size: 14px;
  width: 720px;
  margin-left: 15px;
  margin-top: 10px; }

#newpr_main #base_info {
  visibility: hidden;
  font-size: 14px;
  width: 700px;
  margin-left: 15px;
  margin-top: 10px; }

#agree_box {
  float: right;
  margin-top: 25px;
  display: block; }

#agree_box .button {
  padding: 0px 30px;
  margin: 10px 0px; }

#agree_box .button_disabled {
  padding: 0px 30px;
  margin: 10px 0px; }

.clear {
  clear: both; }

.newpr_left {
  width: 700px;
  float: left;
  margin-top: 25px; }

.newpr_right {
  float: right;
  margin-top: 25px; }

.newpr_right .img_holder {
  width: 225px;
  min-height: 150px;
  background-color: #464646;
  color: #fff; }
  .newpr_right .img_holder img {
    width: 225px;
    height: auto; }

.newpr_right .text {
  width: 200px;
  float: left;
  margin-left: 15px;
  margin-top: 45px; }

.newpr_right .help {
  width: 225px;
  height: 160px;
  background-color: #464646;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 30px; }

.help h1 {
  font-size: 14px;
  margin-bottom: 5px; }

.help a {
  color: #2099be;
  text-decoration: none; }

.help .text {
  margin-left: 15px;
  margin-top: 20px; }

.newpr_table {
  margin-left: 25px;
  width: 685px;
  text-align: justify;
  font-size: 12px;
  font-weight: 600; }

.newpr_table tr {
  margin-bottom: 20px; }

.newpr_table td:first-child {
  width: 150px;
  font-size: 14px; }

.newpr_table td {
  width: 300px;
  float: left;
  margin-bottom: 20px; }

.newpr_table input, select {
  width: 300px; }

.newpr_table #uploadFile {
  width: 218px; }

.fileUpload {
  position: relative;
  height: 30px;
  width: 75px;
  display: inline-block;
  line-height: 30px;
  background-color: #464646;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

#newpr_award_holder {
  width: 550px;
  height: 220px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  font-size: 12px;
  color: #464646;
  margin-bottom: 35px;
  margin-left: 15px;
  position: relative; }
  #newpr_award_holder input, #newpr_award_holder label {
    display: block; }
  #newpr_award_holder label {
    margin-top: 15px; }
  #newpr_award_holder img {
    vertical-align: middle;
    cursor: pointer; }
  #newpr_award_holder #nazov {
    width: 300px;
    margin-right: 20px;
    margin-left: 30px;
    float: left; }
    #newpr_award_holder #nazov input {
      width: 300px; }
  #newpr_award_holder #amount {
    width: 175px;
    float: left; }
    #newpr_award_holder #amount input {
      width: 175px; }
  #newpr_award_holder #available {
    width: 210px;
    margin-right: 20px;
    margin-left: 30px;
    float: left; }
    #newpr_award_holder #available input {
      width: 210px; }
  #newpr_award_holder #datepicker_div {
    width: 265px;
    float: left; }
    #newpr_award_holder #datepicker_div input {
      width: 270px; }
  #newpr_award_holder #description {
    width: 495px;
    float: left;
    margin-left: 30px; }
    #newpr_award_holder #description textarea {
      display: block;
      width: 495px; }
  #newpr_award_holder #delete_button {
    position: absolute;
    left: 530px; }

.newpr_editor_left {
  width: 700px;
  float: left;
  margin-left: 15px; }

#ui-datepicker-div {
  font-size: 11px; }

#newpr_user {
  margin-left: 15px; }
  #newpr_user .newpr_user_type .heading {
    float: left;
    width: 200px;
    margin-bottom: 15px; }
  #newpr_user .newpr_user_type .content {
    float: left;
    width: 460px;
    margin-bottom: 15px;
    font-size: 12px; }
  #newpr_user .newpr_user_type p {
    font-size: 12px;
    margin-bottom: 15px; }
  #newpr_user .newpr_user_type input[type="radio"] {
    cursor: pointer;
    margin-left: 15px; }
  #newpr_user .newpr_user_type .label {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #2099be;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 460px;
    margin-bottom: 5px; }
  #newpr_user .newpr_user_type input[type="text"] {
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ababab;
    color: #ababab;
    float: left;
    width: 217px;
    height: 30px;
    margin-bottom: -1px;
    margin-right: -1px;
    padding-left: 10px; }
  #newpr_user .newpr_user_type input[type="text"]:hover {
    border-color: #2099be; }
  #newpr_user .newpr_user_type .street_address input {
    width: 374px;
    float: left; }
  #newpr_user .newpr_user_type .cislo input {
    width: 60px;
    float: left; }
  #newpr_user .newpr_user_type .phone input {
    width: 180px; }
  #newpr_user .newpr_user_type .e-mail input {
    width: 254px; }
  #newpr_user .newpr_user_type .company input {
    width: 445px; }
  #newpr_user .newpr_user_type .iban input {
    width: 445px;
    float: left; }
  #newpr_user .newpr_user_type .cislo_uctu input {
    width: 254px; }
  #newpr_user .newpr_user_type .kod_banky input {
    width: 180px; }

/**********************   Projekt View  *********************************/
.project_view_main {
  color: #464646;
  margin-left: 50px; }
  .project_view_main img {
    max-width: 610px;
    height: auto; }
  .project_view_main .button {
    background-color: #2099be;
    color: #fff;
    line-height: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .project_view_main .button:hover {
    background-color: #464646;
    color: #fff; }
  .project_view_main .left {
    float: left;
    width: 610px; }
  .project_view_main .right {
    float: right;
    margin-left: 15px;
    width: 265px; }
  .project_view_main h1 {
    font-size: 36px; }
  .project_view_main .autor {
    font-size: 12px; }
  .project_view_main .project_menu {
    height: 40px;
    width: 890px;
    font-size: 18px;
    border-bottom: solid #464646 1px;
    border-top: solid #464646 1px;
    margin-bottom: 25px;
    margin-top: 25px; }
    .project_view_main .project_menu a {
      text-decoration: none;
      margin-left: 25px;
      font-weight: 700;
      color: #464646;
      display: inline-block;
      line-height: 35px; }
    .project_view_main .project_menu a:hover {
      color: #2099be; }
    .project_view_main .project_menu a:active {
      color: #2099be; }
    .project_view_main .project_menu .active {
      color: #2099be; }
  .project_view_main .main_image_holder {
    width: 610px;
    height: 555px;
    border-bottom: solid #464646 1px;
    margin-bottom: 45px; }
    .project_view_main .main_image_holder img {
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .project_view_main .main_image_holder .slider {
      margin-top: 20px; }
  .project_view_main .description {
    float: left;
    max-width: 610px;
    text-align: justify;
    max-width: 100%; }
  .project_view_main .funding_overview {
    width: 265px;
    height: 400px;
    background-color: #464646;
    color: #fff; }
    .project_view_main .funding_overview h1 {
      font-size: 24px;
      display: block; }
    .project_view_main .funding_overview h2 {
      font-size: 14px;
      display: block;
      padding-top: 15px; }
    .project_view_main .funding_overview hr {
      color: #fff;
      margin-top: 45px;
      margin-bottom: 50px; }
    .project_view_main .funding_overview .content {
      width: 210px;
      margin-left: 30px;
      margin-right: 25px; }
    .project_view_main .funding_overview .button {
      background-color: #2099be;
      width: 160px;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      margin-left: 8px; }
    .project_view_main .funding_overview .fund_button {
      display: inline-block;
      text-align: center;
      background-color: #2099be;
      width: 160px;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      margin-left: 8px;
      float: right;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 10px 15px; }
    .project_view_main .funding_overview .button:hover, .project_view_main .funding_overview .fund_button:hover {
      background-color: #2b2b2b;
      cursor: pointer;
      line-height: 50px; }
    .project_view_main .funding_overview .button_disabled {
      background-color: #2b2b2b;
      cursor: not-allowed;
      width: 160px;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      margin-left: 8px;
      display: inline-block;
      text-align: center;
      float: none; }
  .project_view_main .author_overview {
    min-height: 300px;
    width: 265px;
    margin-top: 20px;
    background-color: #2099be;
    color: #fff;
    font-size: 14px;
    font-weight: 700; }
    .project_view_main .author_overview .content {
      width: 220px;
      padding-left: 25px;
      padding-top: 15px;
      padding-bottom: 40px; }
      .project_view_main .author_overview .content img {
        height: 105px;
        width: 105px;
        margin-right: 15px; }
      .project_view_main .author_overview .content .top {
        width: 250px;
        float: left; }
      .project_view_main .author_overview .content .midle {
        width: 250px;
        float: left; }
      .project_view_main .author_overview .content .image {
        width: 105px;
        float: left; }
      .project_view_main .author_overview .content .image_right {
        width: 130px;
        float: left;
        margin-left: 15px; }
      .project_view_main .author_overview .content p {
        display: inline-block;
        width: 100px; }
      .project_view_main .author_overview .content hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #2099be;
        margin: 5px 0;
        padding: 0; }
      .project_view_main .author_overview .content a {
        text-decoration: none;
        border: none;
        color: #fff; }
      .project_view_main .author_overview .content a:hover {
        text-decoration: none;
        border: none;
        color: #464646; }
    .project_view_main .author_overview .button {
      background-color: #464646;
      color: #fff;
      width: 130px;
      float: right; }
    .project_view_main .author_overview .button:hover {
      background-color: #2b2b2b;
      cursor: pointer; }
  .project_view_main .reward, .project_view_main .reward_all_gone {
    margin-top: 20px;
    width: 265px;
    float: left;
    color: #464646;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3); }
    .project_view_main .reward hr, .project_view_main .reward_all_gone hr {
      color: #464646;
      margin-top: 5px;
      margin-bottom: 5px; }
    .project_view_main .reward h1, .project_view_main .reward_all_gone h1 {
      font-size: 18px;
      font-weight: 700;
      color: #2099be;
      margin-bottom: 20px; }
    .project_view_main .reward h2, .project_view_main .reward_all_gone h2 {
      font-size: 18px;
      color: #464646;
      font-weight: 700; }
    .project_view_main .reward .content, .project_view_main .reward_all_gone .content {
      width: 210px;
      margin-left: 20px;
      padding-top: 20px;
      font-size: 12px;
      text-align: justify; }
    .project_view_main .reward p, .project_view_main .reward_all_gone p {
      margin-bottom: 15px; }
  .project_view_main .reward:hover {
    cursor: pointer;
    background-color: #464646;
    color: #fff; }
    .project_view_main .reward:hover h2 {
      color: #fff; }
  .project_view_main .reward_back_amout {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff; }
  .project_view_main .active {
    color: #2099be; }

/******************    Carousel   ****************************************/
.carousel img {
  cursor: pointer; }
.carousel .main {
  width: 610px;
  margin-right: auto;
  margin-left: auto;
  height: 120px; }
.carousel .left_arrow {
  float: left;
  height: 120px;
  width: 50px;
  margin-left: 15px;
  cursor: pointer; }
  .carousel .left_arrow img {
    cursor: pointer;
    margin-top: 48px;
    height: 24px; }
.carousel .left_arrow_disable {
  float: left;
  height: 120px;
  width: 50px;
  margin-left: 15px;
  cursor: default; }
  .carousel .left_arrow_disable img {
    cursor: default;
    margin-top: 48px;
    height: 24px; }
.carousel .right_arrow {
  float: right;
  height: 120px;
  margin-right: 15px;
  width: 50px;
  cursor: pointer; }
  .carousel .right_arrow img {
    cursor: pointer;
    height: 24px;
    margin-top: 48px;
    float: right; }
.carousel .right_arrow_disable {
  float: right;
  height: 120px;
  margin-right: 15px;
  width: 50px;
  cursor: default; }
  .carousel .right_arrow_disable img {
    cursor: default;
    height: 24px;
    margin-top: 48px;
    float: right; }
.carousel .holder {
  position: relative;
  float: left;
  width: 480px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden; }
  .carousel .holder img {
    height: 120px;
    position: absolute;
    cursor: pointer; }
.carousel .previous {
  left: -120px;
  position: absolute; }
.carousel .next {
  right: -120px;
  position: absolute; }

#submit_box {
  float: right;
  margin-top: 25px;
  display: block;
  margin-bottom: 30px; }
  #submit_box .button {
    line-height: 40px;
    font-size: 16px;
    font-weight: 700; }
  #submit_box .save_button {
    line-height: 40px;
    font-size: 16px;
    font-weight: 700; }
  #submit_box .confirm_submit {
    color: #009900;
    line-height: 40px;
    margin-right: 45px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

/************************************************************************/
.footer {
  width: 100%;
  min-height: 280px;
  min-width: 960px;
  font-size: 12px;
  color: #fff;
  background: #464646;
  /* Old browsers */
  background: -moz-linear-gradient(top, #464646 0%, #2b2b2b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464646), color-stop(100%, #2b2b2b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #464646 0%, #2b2b2b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #464646 0%, #2b2b2b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #464646 0%, #2b2b2b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #464646 0%, #2b2b2b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#2b2b2b',GradientType=0 );
  /* IE6-9 */ }
  .footer a {
    color: #fff; }
  .footer a:hover {
    color: #2099be; }

.push {
  width: 100%;
  min-height: 280px;
  min-width: 960px; }

.footer .content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  width: 960px;
  color: #fff;
  font-weight: 700; }

.footer h1 {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 50px; }

.footer .column {
  margin-left: 135px;
  float: left; }

.footer .column1 {
  margin-left: 35px;
  float: left; }

.footer .column2 {
  margin-top: 108px;
  margin-left: 15px;
  float: left; }

.footer br {
  margin-bottom: 20px; }

.footer .design {
  margin-top: 50px;
  float: right;
  font-weight: 300; }

/********************************************************************/
/********************   Settings Menu *******************************/
#setting_menu {
  float: left;
  background-color: #464646;
  min-width: 200px;
  min-height: 200px; }
  #setting_menu p {
    display: block;
    color: #fff;
    line-height: 50px;
    padding-left: 20px; }
  #setting_menu p.active_settings_menu {
    background-color: #2099be;
    line-height: 50px;
    display: block;
    padding-left: 20px; }
  #setting_menu p:hover {
    background-color: #2099be;
    cursor: pointer; }

#settings_content {
  margin-left: 50px;
  margin-top: 50px;
  float: left; }
  #settings_content input[type="radio"] {
    cursor: pointer;
    margin-left: 15px; }
  #settings_content label {
    cursor: pointer;
    display: block;
    width: 230px;
    float: left; }
  #settings_content input[type="text"], #settings_content input[type="password"] {
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ababab;
    float: left;
    width: 217px;
    height: 30px;
    margin-bottom: -1px;
    margin-right: -1px;
    padding-left: 10px; }
  #settings_content input[type="checkbox"] {
    margin-top: 6px;
    margin-bottom: 25px; }
  #settings_content textarea {
    width: 223px;
    margin-top: 20px;
    height: 75px; }
  #settings_content #labels {
    float: left; }
  #settings_content #inputs {
    float: left; }

/********************   JQUERY specific theming *********************/
.ui-tooltip-content {
  font-size: 11px; }

#faq {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700; }

#accordion {
  font-size: 14px;
  text-align: justify; }
  #accordion h3 {
    font-weight: 700;
    font-size: 14px; }
  #accordion a {
    color: #2099be; }

#mail_form {
  max-width: 960px;
  margin-top: 50px; }
  #mail_form .button {
    cursor: pointer;
    line-height: 45px;
    padding: 0px 15px;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-left: 90px;
    margin-top: 15px; }
    #mail_form .button a, #mail_form .button img {
      border: none;
      text-decoration: none;
      color: #fff; }
  #mail_form .button:hover {
    background-color: #2099be; }
  #mail_form label {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 5px;
    width: 90px;
    margin-bottom: 5px; }
  #mail_form input[type="text"] {
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ababab;
    width: 350px;
    height: 30px;
    padding-left: 10px; }
  #mail_form textarea {
    vertical-align: top;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ababab;
    width: 348px;
    height: 60px;
    padding-left: 10px; }
  #mail_form input[type="text"]:hover {
    border-color: #2099be; }

#submit_question {
  margin-top: 10px; }
  #submit_question input {
    font-size: 12px; }

#mail_sent {
  color: #009900;
  display: block;
  line-height: 100px; }

#error {
  color: #FF2828;
  display: block;
  line-height: 15px; }

/****************************************/
.VOP {
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px; }
  .VOP h3 {
    margin-top: 10px; }

/************************************************  FIREFOX Specific *******************/
@-moz-document url-prefix() {
  .footer .content {
    line-height: 0.3; }

  .footer .column2 {
    margin-top: 87px;
    margin-left: 15px;
    float: left; } }
/****************************    Comment section styling ************************************/
.comment,
#addCommentContainer {
  /* Syling the comments and the comment form container */
  margin-left: 25px;
  padding: 20px;
  width: 800px;
  position: relative;
  background-color: #fcfcfc;
  border: 1px solid white;
  color: #888;
  margin-bottom: 25px;
  /* CSS3 rounded corners and drop shadows */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 0 #C0C0C0;
  -webkit-box-shadow: 2px 2px 0 #C0C0C0;
  box-shadow: 2px 2px 0 #C0C0C0; }

.comment .avatar {
  /*
  /	The avatar is positioned absolutely, 
  /	and offset outside the comment div
  /*/
  max-height: 50px;
  left: -70px;
  position: absolute;
  max-width: 50px;
  background: url("img/default_avatar.gif") no-repeat #fcfcfc;
  /* Centering it vertically: */
  margin-top: -25px;
  top: 50%;
  -moz-box-shadow: 1px 1px 0 #c2c2c2;
  -webkit-box-shadow: 1px 1px 0 #c2c2c2;
  box-shadow: 1px 1px 0 #c2c2c2; }

.comment .avatar img {
  display: block;
  max-width: 50px; }

.comment .name {
  font-size: 18px;
  padding-bottom: 10px;
  color: #ccc; }

.comment .date {
  font-size: 10px;
  padding: 6px 0;
  position: absolute;
  right: 15px;
  top: 27px;
  color: #bbb; }

.comment p,
#addCommentContainer p {
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  text-align: justify;
  width: 760px; }

#addCommentContainer input[type=text],
#addCommentContainer textarea {
  /* Styling the inputs */
  display: block;
  border: 1px solid #ccc;
  margin: 5px 0 5px;
  padding: 3px;
  font-size: 12px;
  color: #555;
  font-family: Arial, Helvetica, sans-serif; }

#addCommentContainer textarea {
  width: 780px; }

label {
  font-size: 10px; }

label span.error {
  color: red;
  position: relative;
  right: -10px; }

.news {
  width: 800px;
  margin-left: 25px;
  border-bottom: 1px solid #ccc;
  padding: 19px;
  padding-bottom: 30px;
  text-align: justify; }
  .news #date {
    color: #464646;
    font-size: 10px;
    display: block;
    float: right; }
  .news #header {
    color: #464646;
    font-size: 20px;
    font-weight: 700; }
  .news p {
    font-size: 16px; }
  .news p:first-of-type {
    margin-top: 20px; }
  .news p:first-letter {
    margin-left: 20px; }
  .news #edit, .news #delete {
    font-size: 10px;
    float: right;
    margin: 10px; }
  .news #edit:hover, .news #delete:hover {
    color: #2099be;
    cursor: pointer; }

#addNewsContainer {
  width: 800px;
  margin-left: 25px; }
  #addNewsContainer p {
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-align: justify;
    width: 760px; }
  #addNewsContainer input[type=text], #addNewsContainer textarea {
    /* Styling the inputs */
    display: block;
    border: 1px solid #ccc;
    margin: 5px 0 5px;
    padding: 3px;
    font-size: 12px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif; }
  #addNewsContainer input[type=text] {
    width: 450px; }
  #addNewsContainer textarea {
    width: 830px;
    height: 150px; }

/*******************     MESSAGEING    ***************************/
#msg_holder {
  width: 900px;
  min-height: 670px;
  margin-top: 25px; }
  #msg_holder #msg_navigation {
    width: 300px;
    height: 500px;
    float: left;
    border: 1px solid black;
    overflow: auto; }
  #msg_holder .msg_overview {
    min-width: 100px;
    float: left;
    display: block;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px; }
  #msg_holder .msg_overview:hover {
    background: #464646;
    cursor: pointer;
    color: #fff; }
  #msg_holder .msg_overview:last-of-type {
    border: none; }
  #msg_holder .active {
    background-color: #2099be;
    color: #fff; }
  #msg_holder .msg_from {
    float: left;
    font-size: 12px;
    margin-left: 10px; }
  #msg_holder .msg_date {
    float: right;
    font-size: 12px;
    margin-right: 10px; }
  #msg_holder .msg_title {
    min-width: 200px;
    float: left;
    font-size: 14px;
    margin-left: 10px; }
  #msg_holder #msg_body_holder {
    width: 550px;
    float: right; }
  #msg_holder #msg_holder_title {
    width: 500px;
    height: 50px; }
  #msg_holder #msg_body {
    width: 500px;
    height: 470px;
    margin-bottom: 10px; }
  #msg_holder #msg_reply {
    width: 500px; }
    #msg_holder #msg_reply textarea {
      width: 450px;
      height: 100px; }
  #msg_holder .button {
    float: left; }
  #msg_holder .unread {
    color: #2099be; }
  #msg_holder .msg_body_from {
    font-size: 12px; }
  #msg_holder .msg_body_from:not(:first-child) {
    margin-top: 10px; }

/*****************************************************************/
.paypal-button {
  float: right;
  margin-top: 7px;
  margin-right: 10px; }

/**************************************************************/
#rewards_at_payment {
  width: 800px;
  height: 20px; }

.payment_type {
  margin-left: 5px;
  width: 295px;
  height: 55px;
  padding-left: 15px;
  display: inline-block;
  line-height: 55px;
  border: 1px #464646 solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); }

.payment_type img {
  position: relative;
  top: 10px; }

#payments h1 {
  color: #2099be;
  font-size: 22px;
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 20px; }

#payment_rewards {
  display: block;
  font-size: 14px;
  color: #464646;
  width: 700px;
  text-align: justify;
  margin-left: 15px; }
  #payment_rewards a {
    color: #464646; }
  #payment_rewards label {
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 5px; }
  #payment_rewards .reward_payment {
    background-color: #fff;
    color: #464646; }
    #payment_rewards .reward_payment label {
      color: #2099be; }
  #payment_rewards .reward_payment:hover, #payment_rewards .active {
    background-color: #2099be;
    color: #fff; }
    #payment_rewards .reward_payment:hover label, #payment_rewards .active label {
      color: #fff; }

#wire .button, #gopay .button, #trans_data_wrap .button {
  background-color: #2099be;
  line-height: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-left: 75px; }
#wire .button:hover, #gopay .button:hover, #trans_data_wrap .button:hover {
  background-color: #464646; }

.award_left {
  width: 160px;
  display: inline-block;
  float: left;
  margin-top: 35px; }
  .award_left label {
    font-size: 18px;
    margin-left: 5px; }
  .award_left input[type='radio'] {
    margin-left: 10px; }

.award_right {
  width: 500px;
  min-height: 50px;
  margin-left: 160px;
  padding-top: 25px;
  padding-bottom: 15px; }

.paypal_button, .paypal_button img {
  height: 40px;
  float: right;
  margin-right: 10px;
  margin-top: -45px; }

.currencyinput {
  margin: 20px;
  border: 1px solid #2099be;
  font-size: 30px;
  font-weight: 600;
  color: #2099be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 10px; }
  .currencyinput input {
    border: 0;
    padding-left: 15px;
    font-size: 30px;
    color: #2099be;
    width: 200px; }
  .currencyinput input:focus {
    outline: 0; }

#amount_label {
  font-size: 12px;
  display: inline-block; }

.newpr_left {
  width: 700px;
  float: left;
  margin-top: 25px; }

.newpr_right {
  float: right;
  margin-top: 25px; }

.newpr_right .img_holder {
  width: 225px;
  min-height: 150px;
  background-color: #464646;
  color: #fff; }
  .newpr_right .img_holder img {
    width: 225px;
    height: auto; }

.right_fix {
  float: right; }
  .right_fix h1 {
    margin-top: 0px; }

.right_fix .text {
  width: 200px;
  float: left;
  margin-left: 15px;
  margin-top: 45px; }

.right_fix .help {
  width: 225px;
  height: 260px;
  background-color: #464646;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 30px; }

.project_name_top {
  width: 100%;
  height: 100px; }

#project_title_top_payment, #project_author_top_payment {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 15px; }

#project_author_top_payment {
  font-size: 15px;
  padding: 0px; }

#trans_data_wrap {
  width: 700px;
  border: 1px solid #D1D1D1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 25px; }
  #trans_data_wrap h1 {
    font-size: 22px;
    color: #2099be; }

#wire_trans_data span {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px; }

#acount_details span {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px; }

.message_holder {
  font-size: 14px;
  background-color: #C8FFBD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  width: 930px;
  font-weight: 600;
  display: none; }

/***********************************************/
#settings_left, #settings_right, #notification, #change_pass {
  width: 450px;
  min-height: 300px;
  float: left;
  margin-top: 20px;
  border: 0px solid #2099be;
  -webkit-border-radius: 3px; }
  #settings_left legend, #settings_right legend, #notification legend, #change_pass legend {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px; }

#settings_right, #change_pass {
  float: right; }

#notification {
  float: left; }

.settings label {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600; }

.settings label:first-child {
  margin-top: 0px; }

.settings input[type="text"], input[type="email"], textarea, input[type="url"], input[type="password"] {
  width: 430px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #464646;
  height: 25px;
  padding-left: 10px; }

.settings textarea {
  min-height: 100px;
  padding-top: 5px; }

#usr_img img {
  max-width: 200px; }

#notification label {
  display: inline-block;
  margin-right: 14px; }

#notification input {
  padding-top: 5px; }

.settings h2 {
  font-size: 19px;
  margin-top: 15px; }

#conect_FB {
  width: 205px; }

.btn-fb-login {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
  cursor: pointer; }
  .btn-fb-login:hover {
    background-image: -webkit-linear-gradient(#486bb5 0%, #233b6c 100%);
    background-image: -o-linear-gradient(#486bb5 0%, #233b6c 100%);
    background-image: linear-gradient(#486bb5 0%, #233b6c 100%); }
  .btn-fb-login .icon {
    background: url(../../img/fb_login_sprite.png) no-repeat;
    width: 11px;
    height: 22px;
    display: inline-block;
    float: left;
    margin: 3px 10px; }
  .btn-fb-login .title {
    font-size: 0.9em;
    color: #fff;
    line-height: 30px;
    float: left;
    padding: 0 10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.3); }

.popis {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  margin-left: 5px;
  padding-right: 15px;
  display: block; }

.unread_messages {
  position: absolute;
  margin-left: 53px;
  margin-top: 5px;
  background-color: red;
  width: 15px;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-size: 10px; }

/*************************************/
#reset_pwd, #send_lost_pwd {
  width: 300px; }
  #reset_pwd input [type="text"], #send_lost_pwd input [type="text"] {
    width: 300px; }
  #reset_pwd p, #send_lost_pwd p {
    margin-bottom: 15px;
    text-align: justify; }

.backer_list {
  width: 750px;
  min-height: 50px;
  margin-right: auto;
  margin-left: 50px;
  border-bottom: 1px solid;
  float: left;
  padding-top: 5px; }

.backer_list:first-child {
  border-top: 1px solid; }

.backer_list:last-child {
  border-bottom: 0px solid; }

.backer_img img {
  width: auto;
  height: 50px;
  padding-right: 5px; }

.backer_img {
  float: left; }

.backer_amount {
  width: 150px;
  float: right;
  margin-top: 15px; }

.backer_username {
  float: left;
  margin-top: 15px; }

.rotate_image_180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.backing_sort {
  width: 690px;
  margin-bottom: 15px; }

.backing_sort img {
  float: right;
  cursor: pointer;
  padding-left: 2px; }

#public_backing label {
  font-size: 14px; }

#public_backing {
  padding-left: 15px; }

/*# sourceMappingURL=main.css.map */
